@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div id="logreg-forms" class="my-5 d-flex flex-column align-items-center">
    <div class="card border border-success mb-5" style="width: fit-content;">
        <div class="card-header d-flex flex-column align-items-center ">
                <a class="navbar-brand d-flex align-items-center fw-bold text-center mt-2" href="/">
                    <span class="bs-icon-sm bs-icon-circle bs-icon-info shadow d-flex justify-content-center align-items-center me-2 bs-icon">
                        <img class="w-100" src="~/images/logo/CasualDad.png" />
                    </span><span>Casual's Dad</span>
                </a>
            </div>
        <div class="card-body ">
            
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating my-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating my-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="my-2">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="my-2">
                    <button id="login-submit" type="submit" class="w-100 btn btn-success">Log in</button>
                </div>
                <div class="text-center my-2">
                    <a class="text-info" style="text-decoration:none;font-size:15px" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
            </form>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
