@model int
<div class="container row my-5">
    <div class="col-12 text-center card border border-primary">
        <div class="row card-header">
            <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        </div>
        <div class="p-5">
            <p>Your order has been placed successfully! </p>
            <small>
                Your Order Number is : @Model.ToString() <br /><br />
            </small>
        </div>
    </div>
</div>
<div class="mb-5"><br /><br /></div>
